<div id="tableBlock"></div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            
            GetAllPlayers();

        });

        function GetAllPlayers()
        {
            $("#createBlock").css('display', 'block');
            $("#editBlock").css('display', 'none');
            $.ajax({
                url: '/api/values',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    WriteResponse(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function WriteResponse(players)
        {
            var strResult =
                "<table><th>Id</th><th>Nickname</th><th>Tag</th><th>ClientCommand</th>";

            $.each(players, function (index, player) {
                strResult += "<tr><td>" + player.Id +
                    "</td><td> " + player.Nickname +
                    "</td><td>" + player.Tag +
                    "</td><td>" + player.ClientCommand;
            });
            strResult += "</table>";
            $("#tableBlock").html(strResult);

        }
        // вывод данных редактируемой книги в поля для редактирования
        function ShowPlayer(player)
        {
            if (player != null) {
                $("#createBlock").css('display', 'none');
                $("#editBlock").css('display', 'block');
                $("#editId").val(player.Id);
                $("#editNickname").val(player.Name);
                $("#editTag").val(player.Author);
                $("#editClientCommand").val(player.Year);
            }
            else {
                alert("Такой игрок не существует");
            }
        }
        // запрос книги на редактирование
        function GetPlayer(id) {
            $.ajax({
                url: '/api/values/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    ShowPlayer(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
    </script>
}